<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Simple | About Us</title>
	<meta name="description" content="Simple" />
	<meta name="keywords" content="Simple" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="css/all.css" />
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/clear-fields.js"></script>
</head>
<body class="inner-page">
	<div class="wrapper-holder">
		<div id="wrapper">
			<div id="header">
                <div class="slogan">
                    <a href="mailto:info@bestpsdfreebies.com"><img src="images/social-icons/Mail.png" alt="email" /></a>&nbsp;
                    <a href="../../facebook.com/bestpsdfreebies" target="_blank"><img src="images/social-icons/Facebook.png" alt="Facebook" /></a>&nbsp;
                    <a href="../../twitter.com/bestpsdfreebies" target="_blank"><img src="images/social-icons/Twitter.png" alt="Twitter" /></a>&nbsp;
                    <a href="#"><img src="images/social-icons/RSS.png" alt="RSS Feed" /></a>
                </div>
				<strong class="logo"><a href="index.html">Simple</a></strong>
				<div class="header-area">
					<div class="search-form">
						<form action="#">
							<fieldset>
								<input type="text" class="txt-field" />
								<input type="image" src="images/btn-search.gif" alt="search" />
							</fieldset>
						</form>
					</div>
					<ul id="nav">
						<li><a href="index.html">HOME</a></li>
						<li class="active"><a href="about.html">ABOUT US</a></li>
						<li>
							<a href="services.html" class="drop-item"><span>SERVICES</span></a>
							<ul>
								<li><a href="service1.html">Service 1</a></li>
								<li><a href="service2.html">Service 2</a></li>
								<li><a href="service3.html">Service 3</a></li>
								<li><a href="service4.html">Service 4</a></li>
							</ul>
						</li>
						<li><a href="team.html">TEAM</a></li>
						<li><a href="work.html">WORK</a></li>
						<li><a href="contact.html">CONTACT</a></li>
					</ul>
				</div>
			</div><!-- /header -->
			<div id="main">
				<div id="content">
					<div class="ttl-holder">
						<h1>THEME FEATURES</h1>
						<h2>WHAT YOU GET WITH THIS THEME</h2>
					</div>
					<div class="txt-section">
						<p>This is not your typical website. Simple has a unique layout and feature set that will help you stand out. From quick email signup forms to pricing tables, this theme has it all. Here is a quick list of features:</p>
                        <ul class="list">
                            <li>Home Page jQuery features slider</li>
                            <li>Mosaic Style Portfolio page</li>
                            <li>Unique easy to setup pricing tables and other styled features</li>
                            <li>Loads of different page layouts</li>
                            <li>All PSD files included to allow you unlimited customization options</li>
                            <li>Quick email signup form ready to integrate with any email service like MailChimp, aWeber, Campaign Monitor</li>
                            <li>Search engine optimized code</li>
                            <li>Working contact form</li>
                            <li>Premium support at <a href="../../support.bestpsdfreebies.com/simple" target="_blank" title="Premium website support">http://support.bestpsdfreebies.com/simple</a></li>
                        </ul>
						<div class="txt-hold">
							<div class="img-box">
								<img src="images/image02.jpg" alt="" width="222" height="221" />
							</div>
							<div class="txt-box">
								<p>Maecenas ipsum metus, semper hendrerit varius mattis, hasr congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elem entum enim rutrum. Nam mi erat, porta idso ultrices nec, pellentesq ue vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdumni justo ultricies. Sed luctus dui nec ni  sl tem pus faucibus sit amet et sem. Aenean augue sapien, sodales ac bibendum ut, pellentesque id eros. Duis tristique porta aliquam. Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae. Pellentesque ultricies nisl quis odio posuere facilisis. In ut felis erat, ac laoreet orci. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem. Maecenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Pellentesque ultricies nisl quis odio posuere facilisis. In ut felis erat, ac laoreet orci.  Aenean augue sapien, sodales ac bibendum ut, pellentesque id eros.</p>
							</div>
						</div>
						<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies. Sed luctus dui nec nisl tempus faucibus sit amet et sem. Aenean augue sapien, sodales ac bibendum ut, pellentesque id eros.</p>
						<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem. Maecenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Duis tristique porta aliquam. Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae. </p>
						<div class="info-hold">
							<strong class="big-letter">D</strong>
							<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit           	         amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem. Maecenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Duis tristique porta aliquam. Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae. Pellentesque ultricies nisl quis odio posuere facilisis. In ut felis erat, ac laoreet orci.</p>
						</div>
						<blockquote>
							<q>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem. Mae trenas in magna mollis lectus lacinia mollis. Donec sit amet volutpat lorem. Du tristique porta aliquam. Curabitur sagittis tincidunt erat, quis hendrerit nibh iaculis vitae. Pellentesque ultric nisl quis odio posuere facilisis. In ut felis erat, ac laoreet orci donec sed nulla at sit amet.</q>
						</blockquote>
						<div class="two-columns">
							<div class="block">
								<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem. </p>
							</div>
							<div class="block">
								<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas. Sed lectus nulla, bibendum at vulputate sit amet, tincidunt volutpat lorem. </p>
							</div>
						</div>
						<div class="three-columns" style="padding-bottom: 10px;">
							<div class="block">
								<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas.</p>
							</div>
							<div class="block">
								<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas.</p>
							</div>
							<div class="block">
								<p>Quisque mollis, sem id laoreet pretium, lectus elit molestie urna, id tristique risus ante at est. Sed pretium metus sit amet erat blandit vitae pulvinar lorem egestas.</p>
							</div>
						</div>
						<span class="alert-text01">Alert Text</span>
						<span class="alert-text02">Alert Text</span>
						<span class="alert-text03">Alert Text</span>
						<span class="alert-text04">Alert Text</span>
						<div class="package">
							<h3 class="pkg-basic">Value Package</h3>
							
							<a href="services.html" class="link-area">
								<h1>$79.95</h1>
								<span class="txt">Great starter package to get up and running</span>
								<ul style="margin-bottom: 78px;">
									<li>item 1</li>
									<li>item 2</li>
									<li>item 3</li>
								</ul>
								<span class="purchase">PURCHASE</span>
							</a>
						</div>
						
						<div class="package">
							<h3 class="pkg-value">Video / Value Package</h3>
							
							<a href="services.html" class="link-area">
								<h1>$89.95</h1>
								<span class="txt">For those who want the best bang for their buck.</span>
								<ul style="margin-bottom: 55px;">
									<li>item 1</li>
									<li>item 2</li>
									<li>item 3</li>
									<li>item 4</li>
								</ul>
								<span class="purchase">PURCHASE</span>
							</a>
						</div>
						
						
						<div class="package" style="margin-right: 0px;">
							<h3 class="pkg-custom">Custom Package</h3>
							
							<a href="services.html" class="link-area">
								<h1>$?</h1>
								<span class="txt">Contact us with your needs and to discuss costs.</span>
								<ul style="margin-bottom: 30px;">
									<li>item 1</li>
									<li>item 2</li>
									<li>item 3</li>
									<li>item 4</li>
									<li>item 5</li>
								</ul>
								<span class="purchase">PURCHASE</span>
							</a>
						</div>
						
						<div style="clear: both;"></div>
					</div>
				</div><!-- /content -->
				<div id="sidebar">
					<div class="side-box">
						<h2>NEWS &amp; UPDATES</h2>
						<h3>JOIN OUR MONTHLY NEWSLETTER</h3>
						<p>Lorem ipsum dolor sit amet, usu id vero oratio adipisci.</p>
						<div class="submit-form">
							<form action="#">
								<fieldset>
									<div class="decor-field">
										<input type="text" value="FULL NAME" />
									</div>
									<div class="decor-field">
										<input type="text" value="EMAIL ADDRESS" />
									</div>
									<input type="submit" value="SUBMIT" class="btn-submit" />
								</fieldset>
							</form>
						</div>
					</div>
					<div class="side-box">
						<h2>PACKAGE ONE</h2>
						<h3>OUR MONTHLY PACKAGE SPECIAL</h3>
						<p>Lorem ipsum dolor sit amet, usu id vero oratio adipisci.</p>
						<ul>
							<li>Feature 1 description</li>
							<li>Feature 2 description</li>
							<li>Feature 3 description</li>
							<li>Feature 4 description</li>
							<li>Feature 5 description</li>
						</ul>
						<a href="#" class="signup">PURCHASE</a>
					</div>
				</div><!-- /sidebar -->
			</div><!-- /main -->
			<div id="footer">
				<span class="dev-info">Site Developed by <a href="../../www.bestpsdfreebies.com/default.htm" target="_blank">BestPSDFreebies.com</a></span>
				<strong class="copy">All Content Copyright 2012 - YasTech. All Rights Reserved. </strong>
			</div><!-- /footer -->
		</div><!-- /wrapper -->
	</div><!-- /wrapper-holder -->
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>